body {
    font-family: Bebas Neue;
    background-color: #A1FFD6;
    color:#7A3428;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue";
    font-size: 40pt;
}

header {
    text-align: center;
}


/*Mid Section*/

#mid {
    text-align: center;
    font-size: 20pt;
    color: #6AC79F;
}

/*Bio Section*/

#bio {
    text-align: center;
    font-size: 20pt;
}

/*Hero Section*/


#hero, footer {
    text-align: center;
    background-color:#C77769 ;
    padding: 10px;
    border: 3px solid #7A3428;
    border-style: dotted;
}
#hero img {
    width: 300px;
}

/*Hobbies Section*/

#hobbies ul li {
    font-size: 20pt;
    color: #6AC79F;
    
}
#hobbies {
    background-color: #C77769;
    padding: 10px;
    border: 3px solid #7A3428;
    border-style: dotted;
}

/*Gallery Section*/

#gallery {
    border: 3px solid #7A3428;
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align: center;
}
#horsey {
    border: 3px solid #7A3428;
    border-style: dotted;
    font-size: 20pt;
}
#Grayson {
    border: 3px solid #7A3428;
    border-style: dotted;
    font-size: 20pt;
}
#Kitty {
    border: 3px solid #7A3428;
    border-style: dotted;
    font-size: 20pt;
}