body {
    font-family: Bebas Neue;
    background-color: #A1FFD6;
    color:#7A3428;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue";
    font-size: 40pt;
}
h2 {
    margin: .1em;
}

header {
    text-align: center;
}


/*Mid Section*/

#mid {
    text-align: center;
    font-size: 20pt;
    color: #6AC79F;
}

/*Bio Section*/

#bio {
    text-align: center;
    font-size: 20pt;
}

/*Hero Section*/


#hero, footer {
    text-align: center;
    background-color:#C77769 ;
    padding: 10px;
    border: 3px solid #7A3428;
    border-style: dotted;
}
#hero img {
    width: 300px;
}

/*Hobbies Section*/

#hobbies ul li {
    font-size: 20pt;
    color: #6AC79F;
    
}
#hobbies {
    background-color: #C77769;
    padding: 10px;
    border: 3px solid #7A3428;
    border-style: dotted;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/*Gallery Section*/

#gallery {
    border: 3px solid #7A3428;
    margin-bottom: 3rem;
}

#gallery img {
    max-width:50%;
}

#gallery figure {
    text-align: center;
}
#horsey {
    border: 3px solid #7A3428;
    border-style: dotted;
    font-size: 20pt;
}
#Grayson {
    border: 3px solid #7A3428;
    border-style: dotted;
    font-size: 20pt;
}
#Kitty {
    border: 3px solid #7A3428;
    border-style: dotted;
    font-size: 20pt;
}

/*Literature*/
#lit {
    border: 3px solid #7A3428;
    margin-bottom: 3rem;
    padding: 3rem;
}

#lit div {
    padding: 3rem;
    font-size: 20pt;
    margin: 0 auto;
}

#lit div p:first-child:first-letter {
    color: #7A3428;
    float:left;
    font-size: 2em;
    padding:.5em;
    line-height: .25;
    margin-right: .25;
}

#lit div p {
    clear:both;
}
/* tablet size*/
@media screen and (min-width:60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-right: 1rem;
    }  figure img {
        width:100%;
    }

    #lit div {
        max-width:100%;
        columns: 40rem;
    }

    #video {
    
        align-items: center;
        border: 3px solid #7A3428;
    }
}

/* large screen size */

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    hr {
        display:none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }

    #video {
    
        align-items: center;
        border: 3px solid #7A3428;
    }
}

/*Contact Form*/

#formelements {
    display: grid;
    row-gap: .5em;

}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset {
    border: 3px solid #6AC79F;
    font-size: 1.5rem;
    border-style: dotted;
    margin: 1em;
    border-radius: 2rem;
}

legend {
    background-color: #6AC79F;
    color: #7A3428;
    padding: .5em;
    border-radius: 2rem;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: 1em;
    border-radius: 2rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
    border-radius: 2rem;
}

#contact li {
    margin: 1rem;
}

#contact button {
    background-color: #6AC79F;
    color: #7A3428;
    border: 2px solid #7A3428;
    font-size: 1rem;
    font-weight: 800;
    max-width: 300px;
    width: 50%;
    justify-self: center;
}

/* Video */
#video {
    padding: 1rem;
    border: 3px solid #7A3428;
    
}

#Colorscheme {
    background-color:blanchedalmond;
    border: 3px solid #7A3428;
    margin-bottom: 3rem;
    max-width: 15%;
}

#learning {
    padding: 3rem;
    font-size: 20pt;
    margin: 0 auto;
}

#Designdoc {
    border: 3px solid #7A3428;
    margin-bottom: 3rem;
    padding: 3rem;
}

#name {
    font-size: 20pt;
}